<div class="container py-5 d-flex flex-column align-items-center">
  <h2>Forgot your password?</h2>
  <div class="col-5 mb-3 mt-4">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-group mt-4">
            <p> Enter email to get instructions:</p>
            <%= f.email_field :email, autofocus: true, placeholder: "email@mail.com", :class=>"form-control rounded-pill" %>
            <div class="invalid-feedback">
                Please enter email in format: name@example.com
            </div>
          </div>

        <div class="form-group mt-5 d-flex">
            <%= f.submit "Send instructions", :class=>"btn btn-outline-primary rounded-pill px-4 mx-auto" %>
        </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>

<script type="text/javascript">

  // Валидация формы при отправке запроса
  $("#new_user").on("submit", function (event) {
    return validateForm();
  });


  function validateForm(){
    result = true;
    user_email = $('#user_email');

    if (isEmail(user_email.val()) == false){
      $(user_email).addClass("is-invalid");
      result = false;
    } else {;
      $(user_email).removeClass("is-invalid");
      $(user_email).addClass("is-valid");
    }

    return result;
  }

  function isEmail(email) {
    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
    return regex.test(email);
  }

</script>
