<div class="route_metrics mt-5">
  <p class="mb-3">Показатели маршрута:</p>
  <table id="route_stat" class="table table-hover">
    <thead class="text-secondary">
      <tr>
        <th>Показатель</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Интервал</td>
        <td><%= route.route_interval %> мин</td>
      </tr>
      <tr>
        <td>Длина</td>
        <td><%= route.route_length %> км</td>
      </tr>
      <tr>
        <td>Прямолинейность</td>
        <td><%= route.straightness %></td>
      </tr>
      <tr>
        <td>Стоимость</td>
        <td><%= route.route_cost %> руб</td>
      </tr>

      <% route.isochrones.first.metrics.each do |metric| %>
        <tr>
          <td><%= metric.metric_type.metric_name %></td>
          <td><%= metric.metric_value %></td>
        </tr>
      <% end %>

    </tbody>
  </table>
</div>
