<main role="main" class="h-100">
  <div id="about_bg">
    <div id="about_text" class="d-flex flex-column justify-content-center align-items-center text-white">
      <p><b>НАШ НОВЫЙ ПРОЕКТ</b></p>
      <h1><b>По анализу маршрутной сети городов России</b></h1>

      <div class="d-flex justify-content-center">
        <%= link_to "constructor", class: "btn btn-lg btn-success rounded-pill px-5" do %>
          Попробовать
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
          </svg>
        <% end %>
      </div>

      <div class="arrow-cover mt-5">
        <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-chevron-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
        </svg>
      </div>

    </div>

  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing py-5">

    <!-- Цель проекта -->
    <div class="row mb-5">
      <div class="col">
        <p class="h1 mb-5">Цель проекта</p>
        <p class="p-text">
          <b>Тактическая цель</b> проекта – создать инструмент сопоставительной оценки качества и эффективности маршрутных сетей городского транспорта.
        </p>
        <br>
        <p class="p-text">
          <b>Стратегическая цель</b> – направить ресурсы на развитие общественного транспорта в городах, путем привлечения внимания общественности к остроте проблемы низкого качества и запуска эффективных методов управления общественным транспортом на федеральном, региональном и местном уровне, и таким образом добиться кардинального повышения качества транспортного обслуживания и качества жизни в город
        </p>
        <br>
        <p class="text-center">
          <svg width="37px" height="31px" viewBox="0 0 37 31"> <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g transform="translate(-701.000000, -4615.000000)" fill="#000000"> <g transform="translate(701.000000, 4615.000000)"> <path d="M9.2342197,31 L0.520616382,31 L12.8070131,0.73046875 L21.5206164,0.73046875 L9.2342197,31 Z"></path> <path d="M24.5963811,31 L15.8827778,31 L28.1691745,0.73046875 L36.8827778,0.73046875 L24.5963811,31 Z"></path> </g> </g> </g> </svg>
        </p>
        <br>
        <p class="h2 text-center col-10 mx-auto">
          <b>Если нет индикаторов – то нет ни мероприятий по развитию, ни запланированных денег</b>
        </p>
        <br>
        <p class="p-text">
          Никто в руководстве городов и тем более никто из жителей не понимает, насколько ситуация в их городе хуже или лучше, чем в других городах России, насколько тяжела проблема, какой приоритет нужно дать её решению. В отличие от других отраслей, где качество жёстко регламентировано стандартами и утвержденными методами работы (образование, медицина, продукты питания и т.п.), в сфере транспорта нет ни обязательного стандарта, ни ответственности за его соблюдение. В результате деньги уходят на развитие тех сфер, где четко виден результат, а транспорт – болтается сам по себе
        </p>
      </div>
    </div>

    <!-- Что он умеет -->
    <div class="row mb-5">
      <div class="col">
        <p class="h1 mb-5">Что он умеет?</p>
        <p class="p-text">
          Сервис позволит проанализировать текущую маршрутную сеть города, места для ее оптимизации и улучшения, покажет объективные данные по качеству расположения остановок и доступности жилья и социальных объектов. Благодаря ему также можно строить и оценивать эффективность новых маршрутов.
        </p>
        <br>
        <p class="p-text">
          Больше информации о функциях можно найти <%= link_to "здесь", "http://mostransport.tilda.ws/functions" %>
        </p>
        <br>
        <div class="d-flex justify-content-center">
          <%= link_to "constructor", class: "btn btn-lg btn-success rounded-pill px-5" do %>
            Попробовать функции
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
            </svg>
          <% end %>
        </div>
      </div>
    </div>

    <!-- Транспорт в российских городах хуже -->
    <div class="row mb-5">
      <div class="col">
        <p class="h1 mb-5">Транспорт в российских городах хуже</p>
        <p class="p-text">
          Российские города тратят очень много денег на транспорт. При этом маршрутная сеть зачастую неэффективна, показатели сети хуже чем в Европе, а пассажиры предпочитают личный транспорт
        </p>
        <br>
        <p class="">
          <%= image_tag "transport_compare.png" %>
        </p>
      </div>
    </div>
    <br>

    <div class="row mb-5">
      <div class="col-md-5">
        <h2><span class="text-muted">Неоптимальные маршруты</span></h2>
        <p class="lead">Нередко муниципальные автобусные маршруты в наших городах ходят кругами и по расписанию</p>
      </div>
      <div class="col-md-7">
        <%= image_tag "route_1.webp" %>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-md-5 order-md-2">
        <h2><span class="text-muted">Но мы можем это исправить</span></h2>
        <p class="lead">Благодаря нашему инструменту их можно сделать эффективнее и удобнее, а в некоторых случаях сделать несколько новых маршрутов</p>
      </div>
      <div class="col-md-7 order-md-1">
        <%= image_tag "route_2.webp" %>
      </div>
    </div>

    <!-- Как это работает? -->
    <div class="row mb-5">
      <div class="col">
        <p class="h1 mb-5">Как это работает?</p>
        <p class="p-text">
          В основе нашей методики лежит математическая модель спроса на перевозки, пассажиропотока в разрезе остановок, маршрутов и районов города и геоинформационный анализ изохронов, пешеходного и автомобильного графа улиц на предмет транспортной доступности остановок и ключевых объектов.
        </p>
        <br>
        <p class="p-text">
          В рамках проекта мы рассчитаем индикаторы качества существующих маршрутных сетей по имеющимся открытым данным. Это позволит выявить «слабые места» маршрутных сетей, города-лидеры и города-аутсайдеры по объективным данным, стимулирует общественный запрос на исправление ситуации и создание городскими властями эффективных моделей управления и развития, направленных на достижение конкретных, численных целей качества транспортного обслуживания.
        </p>
        <br>
        <p class="p-text">
          Мы будем ориентироваться на показатели Социального стандарта транспортного обслуживания населения, утвержденного Минтрансом России. Утверждение социального стандарта стало первым шагом по принятию ответственности за качество перевозок, поскольку до его утверждения в обязанности органов власти входила только «организация транспортного обслуживания» на понятийном уровне
        </p>
      </div>
    </div>

    <!-- Подключено городов-->
    <div class="row mb-5">
      <div class="col">
        <p class="text-center">
          <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-plug" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.083 2.083 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.922 1.922 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0zM5 4v2.5A2.5 2.5 0 0 0 7.5 9h1A2.5 2.5 0 0 0 11 6.5V4H5z"/>
          </svg>
        </p>
        <br>
        <p class="text-center h2 mb-5">
          <b><%= City.all.length %> городов уже подключено</b>
        </p>
        <div class="row">
          <% City.all.order(:name).each do |city| %>
            <p class="h3 mr-3"><%= link_to city.name, constructor_index_path(city: city.code), class: "badge badge-pill badge-primary pb-2 px-3" %></p>
          <% end %>
        </div>
      </div>
    </div>
    <br>
    <br>

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container py-5">
    <p class="float-right"><a href="#">Back to top</a></p>
  </footer>
</main>
