<div class="row mx-0">
  <div class="area-chart col-4">
      <p class="text-center mt-4" style="min-height: 48px;">Площадь покрытия остановками</p>
  </div>
  <div class="houses-chart col-4">
      <p class="text-center mt-4" style="min-height: 48px;">Доля домов в зоне покрытия</p>
  </div>
  <div class="population-chart col-4">
      <p class="text-center mt-4" style="min-height: 48px;">Доля населения в зоне покрытия</p>
  </div>
</div>

<table class="table table-hover mt-3">
  <thead class="text-secondary">
    <tr>
      <th>Показатель</th>
      <th>Значение</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Площадь</td>
      <td><%= @city.area %> км2</td>
    </tr>
    <tr>
      <td>Кол-во жителей</td>
      <td><%= @city.population %> чел</td>
    </tr>

    <tr>
      <td>Кол-во остановок</td>
      <td><%= @city.stations.length %> шт</td>
    </tr>

    <tr>
      <td>Кол-во маршрутов</td>
      <td><%= @city.routes.length %> шт</td>
    </tr>

    <% @city_metrics.each do |metric| %>
      <tr>
        <td><%= metric.metric_name %></td>
        <td class="city-metric-value">
          <%= "#{metric.metric_value} #{metric.unit_code}" %>
          <% if  ['stations_per_100k','routes_per_100k'].include?(metric[:metric_code]) %>
            <% other_city_metrics = CityMetric.where(metric_type_id: metric[:metric_type_id]).map(&:metric_value) %>
            <% min_metric = other_city_metrics.min %>
            <% max_metric = other_city_metrics.max %>
            <% avg_metric = other_city_metrics.sum/other_city_metrics.length %>
            <% rating = ((metric[:metric_value]-min_metric)/(max_metric-min_metric)*100).round %>

            <% if rating >= 70 %>
              <% rat_col = "bg-success" %>
              <% title = "Показатель выше среднего на #{rating-50} %" %>
            <% elsif rating >= 50 %>
              <% rat_col = "bg-warning" %>
              <% title = "Показатель выше среднего на #{rating-50} %" %>
            <% elsif rating >= 40 %>
              <% rat_col = "bg-warning" %>
              <% title = "Показатель ниже среднего на #{50-rating} %" %>
            <% else %>
              <% rat_col = "bg-danger" %>
              <% title = "Показатель ниже среднего на #{50-rating} %" %>
            <% end %>
            <div class="progress" style="height: 7px;width: 70px;margin-left: 0px;" data-toggle="tooltip" data-placement="right" title="<%= title %>">
              <div class="progress-bar <%= rat_col %>" role="progressbar" style="width: <%= rating %>%" aria-valuenow="<%= rating %>" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
