<div class="row mx-0 justify-content-center">
  <% @chartData.each do |chart| %>
  <div class="<%= chart[:name] %> col-4">
      <p class="text-center mt-4" style="min-height: 48px;"><%= chart[:desc] %></p>
  </div>
  <% end %>
</div>

<table class="table table-hover mt-3">
  <thead class="text-secondary">
    <tr>
      <th>Показатель</th>
      <th>Значение</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Площадь</td>
      <td><%= number_with_delimiter(@city.area, :delimiter => ' ') %> км2</td>
    </tr>
    <tr>
      <td>Кол-во жителей</td>
      <td><%= number_with_delimiter(@city.population, :delimiter => ' ') %> чел</td>
    </tr>

    <tr>
      <td>Кол-во остановок</td>
      <td><%= number_with_delimiter(@city.stations.length, :delimiter => ' ') %> шт</td>
    </tr>

    <tr>
      <td>Кол-во маршрутов</td>
      <td><%= number_with_delimiter(@city.routes.length, :delimiter => ' ') %> шт</td>
    </tr>

    <% @city_metrics.each do |metric| %>
      <tr>
        <td><%= metric.metric_name %></td>
        <td class="city-metric-value">
          <%= "#{metric.metric_value} #{metric.unit_code}" %>
          <% other_city_metrics = CityMetric.where(metric_type_id: metric[:metric_type_id]).map(&:metric_value).uniq.sort!{ |a, b| b <=> a } %>

          <% rating_len = other_city_metrics.length %>
          <% rating_val = other_city_metrics.index(metric.metric_value)+1 %>
          <% rating = 100-((rating_val-1)/rating_len.to_f*100).round %>

          <% if rating >= 70 %>
            <% rat_col = "bg-success" %>
          <% elsif rating >= 40 %>
            <% rat_col = "bg-warning" %>
          <% else %>
            <% rat_col = "bg-danger" %>
            <% rating = 5 if rating < 5 %>
          <% end %>

          <% title = "#{rating_val} место из #{rating_len} в рейтинге городов по данному показателю" %>

          <div class="progress" style="height: 7px;width: 70px;margin-left: 0px;" data-toggle="tooltip" data-placement="right" title="<%= title %>">
            <div class="progress-bar <%= rat_col %>" role="progressbar" style="width: <%= rating %>%" aria-valuenow="<%= rating %>" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>
