<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-layers-half text-blue mr-2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M3.188 8L.264 9.559a.5.5 0 0 0 0 .882l7.5 4a.5.5 0 0 0 .47 0l7.5-4a.5.5 0 0 0 0-.882L12.813 8l-4.578 2.441a.5.5 0 0 1-.47 0L3.188 8z"/>
  <path fill-rule="evenodd" d="M7.765 1.559a.5.5 0 0 1 .47 0l7.5 4a.5.5 0 0 1 0 .882l-7.5 4a.5.5 0 0 1-.47 0l-7.5-4a.5.5 0 0 1 0-.882l7.5-4zM1.563 6L8 9.433 14.438 6 8 2.567 1.562 6z"/>
</svg>
<select id="layers_search" class="selectpicker" data-live-search="true" data-style="border rounded-pill px-3" multiple title="Выберите слои" data-size="10" data-width="250px" data-actions-box="true" data-deselect-all-text="Очистить" data-select-all-text="Выбрать все" data-selected-text-format="count > 5" data-header="Слои">
  <%= @layers.each do |layer| %>
    <option title="<%= layer.layer_type.name %>" name="<%= layer.layer_type.code %>" data-content='<span class="text-truncate d-inline-block" style="max-width:265px"><%= layer.layer_type.name %></span' <%= 'selected' if layer.layer_type.default %> >
      <%= JSON.generate({:layer_code => layer.layer_type.code, :tile_url => layer.tile_url, :source_name => layer.layer_type.source_name, :draw_type => layer.layer_type.draw_type, :paint_rule => layer.layer_type.paint_rule}) %>
    </option>
  <% end %>
</select>
