<div id="tools_btns" class="d-flex flex-column ml-3 mt-3 justify-content-begin tools_btn_set">

    <%= button_tag class:"btn btn btn-outline-primary active", title:"Остановки", "data-target":"station_info" do %>
      <%= fa_icon "map-marker-alt" %>
    <% end %>

    <%= button_tag class:"btn btn btn-outline-primary mt-3", title:"Маршруты", "data-target":"route_search" do %>
      <%= fa_icon "bus" %>
    <% end %>

    <%= button_tag class:"btn btn btn-outline-primary mt-3", title:"Конструтор маршрутов", "data-target":"constructor" do %>
      <%= fa_icon "route" %>
    <% end %>

    <%= button_tag class:"btn btn btn-outline-primary mt-3", title:"Изохроны", "data-target":"isochrones" do %>
      <i class="far fa-circle"></i>
    <% end %>

    <%= button_tag class:"btn btn btn-outline-primary mt-3", title:"ДТП", "data-target":"dtp_map" do %>
      <%= fa_icon "car-crash" %>
    <% end %>

</div>
