<% content_for :menu_bar do %>
  <div id="layers_container" class="ml-3"></div>
<% end %>

<% content_for :side_bar do %>
  <%= render 'constructor/side_bar/station_info' %>
  <%= render 'constructor/side_bar/constructor' %>
  <%= render 'constructor/side_bar/isochrone' %>
  <%= render 'constructor/side_bar/route_search' %>

<% end %>

<% content_for :map do %>
  <%= render 'tools' %>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
       Paloma.start();
    });
  </script>
<% end %>
