<% content_for :menu_bar do %>
  <div id="layers_container" class="ml-3"></div>
<% end %>

<% content_for :side_bar do %>
  <div class="d-flex flex-row h-100">
    <div class="px-2 border-right">
      <%= render 'tools' %>
    </div>
  </div>
<% end %>

<% content_for :map do %>
  <div class="h-100 panel-container">
      <%= render 'constructor/side_bar/city_metrics' %>
      <%= render 'constructor/side_bar/station_info' %>
      <%= render 'constructor/side_bar/constructor' %>
      <%= render 'constructor/side_bar/isochrones' %>
      <%= render 'constructor/side_bar/route_info' %>
      <%= render 'constructor/side_bar/route_search' %>
      <%= render 'constructor/side_bar/accidents' %>
  </div>
<% end %>

<% content_for :scripts do %>
  <script type="text/javascript">
    $(document).on('turbolinks:load', function() {
       Paloma.start();
    });
  </script>
<% end %>
