<!DOCTYPE html>
<html class="h-100">
  <head>

    <title>Transmetrika</title>
    <meta name="description" content="Анализ маршрутной сети городов"/>
    <meta charset='utf-8' />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Yandex.Metrika counter -->
    <% if Rails.env.production? %>
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(70443748, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/70443748" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <% end %>
    <!-- /Yandex.Metrika counter -->


    <!-- Import Mapbox GL JS  -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    <!-- Import jQuery -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    <!-- Import Turfjs for poligon simplification -->
    <script src='https://unpkg.com/@turf/turf/turf.min.js'></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!--script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Bootstrap-select -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


    <%= yield :style %>

  </head>

  <body class="h-100">
    <% if current_page?(:controller => 'about', :action => 'index') %>
      <nav class="navbar fixed-top navbar-light bg-light border-bottom pl-1">
        <%= render "shared/logo" %>
        <%= render "shared/social_links" %>
      </nav>
      <div class='d-flex h-100 w-100  pt-75'>
        <%= render "shared/menu" %>
        <div class='pb-3 w-100 d-flex flex-column'>
          <%= yield %>
        </div>
      </div>
    <% else %>

      <%= render "shared/navbar" %>
      <div class='d-flex h-100  pt-75'>
        <%= render "shared/menu" %>
        <div class='pb-3 w400 d-flex flex-column'>
          <div class="h-100 overflow-auto px-3">
            <%= yield :side_bar %>
          </div>
        </div>
        <div class='flex-grow-1'>
          <div id='map' class="h-100 w-100">
            <%= yield :map %>
          </div>
        </div>
      </div>

    <% end %>

    <%= yield :scripts %>
    <%= insert_paloma_hook %>
  </body>
</html>
